html {height: 100%;}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  overflow: hidden;
}
.page {
  height: 100%;
}
  #console-container {
    float: left;
    width: 400px;
    /*background-color: green;*/
  }
  #canvas-container {
    height: 100%;
    margin-left: 400px;
    /*background-color: red;*/
  }