<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        margin: 0px;
        background-color: #000000;
        overflow: hidden;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
    <script src="js/Engine.js"></script>
    <script src="js/Arena.js"></script>
  </head>
  <body>
    <script>
      window.gameEngine = new Engine().initWithCanvasSize(window.innerWidth, window.innerHeight);

      var arena = new Arena().initWithEngine(gameEngine);
      gameEngine.addArena(arena);

      window.gameEngine.render();
    </script>
  </body>
</html>