<!DOCTYPE html>
<html>
  <head>
    <!-- External stylesheets -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <!-- Main -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <!-- Console -->
    <link rel="stylesheet" type="text/css" href="stylesheets/console.css" />
    <!-- External libraries -->
    <script src="js/three.min.js"></script>
    <script src="js/console/react.js"></script>
    <script src="js/console/react-dom.js"></script>
    <!-- Console -->
    <script src="js/console/Console.js"></script>
    <script src="js/console/ConsoleAttribute.js"></script>
    <script src="js/console/ConsoleToggle.js"></script>
    <script src="js/console/ConsoleDelegate.js"></script>
    <!-- Game -->
    <script src="js/UIEngineOverlay.js"></script>
    <script src="js/UIButton.js"></script>
    <script src="js/UIHealthBar.js"></script>
    <script src="js/Keyboard.js"></script>

    <script src="js/Engine.js"></script>
    <script src="js/Arena.js"></script>
    <script src="js/PlayerCharacter.js"></script>
    <script src="js/Collider.js"></script>
    <script src="js/HitBox.js"></script>
    <script src="js/HealthBar.js"></script>
    <script src="js/AttackLibrary.js"></script>
    <script src="js/CharacterLibrary.js"></script>
    <script src="js/Mouse.js"></script>
    <script src="js/Button.js"></script>

    <script src="js/console/VertexCollection.js"></script>
  
  </head>
  <body>
    <script>
      window.onload = function() {
        // Game
        var engine = new Engine();
        // Console
        var consoleDelegate = ConsoleDelegate.createWithContainerIdAndEngine('console-container', 'canvas-container', engine);
        consoleDelegate.hide();

        engine.initWithCanvasContainerId('canvas-container');
        engine.createArena();
        engine.render();
        
        // Console
        consoleDelegate.startFight();
        consoleDelegate.activate();
        consoleDelegate.observeMouse();
      };
    </script>
    <div class="page">
      <div id="console-container"></div>
      <div id="canvas-container"></div>
    </div>
  </body>
</html>